@media screen and (max-width: 1000px) {

    html {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    div.modal-dialog.modal-md {
        margin-top: 90px;
    }

    .table.mobile-table, .table .table.mobile-table {
        background-color: transparent;
        font-size: 10px;
    }

    .table .table.mobile-table {
        margin-top: 10px;
    }

    .table.mobile-table td span {
        line-height: inherit;
    }

    #deployment-filters tr, #gains-filters tr, #balances-mobile, #balances-mobile span, #balances-mobile span b {
        color: #000;
    }

    .nav_menu {
        position: fixed;
        top: 0;
        height: 80px;
    }

    #bottom-nav {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .nav-cell {
        height: 50px;
        padding-top: 10px;
        font-size: 9px;
        color: #fff;
    }

    .mobile-container {
        margin-bottom: 180px;
    }

    .mobile-row {
        position: relative;
        display: table;
        width: 100%;
    }

    .mobile-row-container {
        display: table-row;
    }

    .mobile-row-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .status-circle {
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }

    .table.mobile-table td {
        padding-bottom: 0;
        padding: 0;
    }

    .table .mobile-table tr {
        padding-top: 10px;
    }

    .table .mobile-table tr, .table.mobile-table td {
        border-top: none;
    }

    .status-completed {
        background-color: green;
    }

    .status-waiting-to-buy {
        background-color: yellow;
    }

    .status-waiting-for-buy-to-fill {
        background-color: black;
    }

    .status-waiting-to-sell {
        background-color: orange;
    }

    .status-waiting-for-sell-to-fill {
        background-color: dodgerblue;
    }

    .status-deployed {
        background-color: purple;
    }

    .status-cancelled {
        background-color: red;
    }

    .top_nav ul.nav.navbar-right {
        width: auto;
    }

    .cell-label {
        font-size: 10px;
    }

    .mobile-nav-content {
        position: absolute;
        right: 80px;
        font-size: 9px;
        top: 30px
    }

    .mobile-nav-content p, .mobile-nav-content p span {
        margin-bottom: 0;
        font-size: 9px;
    }

    .mobile-active .nav_menu {
        position: fixed;
        top: 0;
        z-index: 9999;
        padding-top: 20px;
    }

    #view {
        margin-top: 0px;
    }

    #bottomNav .nav-cell {
        height: 80px;
        padding-top: 23px;
        font-size: 10px;
    }

}
