<div id="hodeid" style="width:100%;">
  <section id="home" class="home">
    <div class="home-bg-overlay"></div>
    <header class="wrap-sticky">

      <!-- Section content -->
      <div class="container">
        <!-- Nav -->

        <nav class="navbar navbar-default navbar-sticky navbar-scrollspy bootsnav theme-menu"
          data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">
          <div class="container">

            <!-- Nav header -->
            <div class="navbar-header">
              <!-- Mobile Menu icon -->
              <button type="button" class="navbar-toggle animated zoomIn" data-toggle="collapse"
                data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
              <!-- Logo -->
              <a class="navbar-brand" href="#/"><img src="images/logo.png" class="logo" alt="Ammo Connect"></a> </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav navbar-right single-page">
                <li class="active scroll"><a href="#">Home</a></li>
                <li class="scroll"><a href="#about">About Us</a></li>
                <li class="scroll"><a href="#list">List Search</a></li>
                <li class="scroll"><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- Section banner image -->
      <div class="container" id="banner-setting">
        <div class="row">
          <div class="col-md-offset-1 col-md-10 col-xs-12">

            <!-- Banner text -->
            <div class="col-md-8 col-xs-12" id="banner-text">
              <!-- Banner Heading -->
              <h3 class="large-title txt-white wow fadeInDown" data-wow-duration="1s">Ammo Connect&nbsp;<span
                  class="txt-color">Your #1 source for ammo deals!</span></h3>
              <!-- Banner Tagline -->
              <p class="txt-white wow fadeInDown" data-wow-duration="2s"></p>

              <!-- Banner Buttons -->
              <div class="home-buttons mt30">

                <!-- Button Android -->
                <button class="btn home-btn hvr-bounce-to-right android-btn wow fadeIn" data-wow-duration="1s"><span
                    class="btn-android"><i class="icon fa fa-android"></i>Play store</span> </button>

                <!-- Button Apple -->
                <button class="btn btn-border-white home-btn hvr-bounce-to-right wow fadeIn"
                  data-wow-duration="2s"><span class="btn-apple"><i class="icon fa fa-apple"></i>Apple store</span>
                </button>
              </div>
            </div>

            <!-- Apps image gallery inside iPhone -->
            <div class="col-md-4 col-xs-12">
              <div id="home-iphone-carousel" class="carousel vertical slide" data-ride="carousel">
                <!-- iPhone image placement -->
                <div class="carousel-inner">
                  <div class="item active"> <img src="images/img1.jpg"> </div>
                  <div class="item"> <img src="images/img2.jpg"> </div>
                  <div class="item"> <img src="images/img3.jpg"> </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators indicator-iphone-gallery">
                  <li data-target="#home-iphone-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#home-iphone-carousel" data-slide-to="1"></li>
                  <li data-target="#home-iphone-carousel" data-slide-to="2"></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>

  <!-- SCROLL TO ABOUT SECTION-->
  <section id="scrollToAbout">
    <!-- Section content -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center"> <a href="#about" class="scrollToAbout"><span
              class="fa fa-angle-down"></span></a> </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="mob_new2"><img src="images/ad1.jpg" /></div>
    <div class="mob_new3"><img src="images/ad1.jpg" /></div>

    <div class="container">
      <div class="section-title">
        <h3>Notifications</h3>
        <h5>Instant Notifications when prices drop!</h5>
      </div>
    </div>

    <div class="container feature-content">
      <div class="tab-content">
        <div id="tab-games" class="tab-pane in active">

          <!-- Left text -->
          <div class="col-md-4">
            <div class="feature-mt100 wow animated fadeInLeft" data-wow-duration=".6s">
              <!-- Text 1 -->
              <div class="features-text-left text-right">

              </div>

              <!-- Text 2 -->
              <div class="features-text-left text-right">
                <h3>
                  <!-- Number -->
                  <div class="number"><span class="line"></span><span class="text">1</span></div>
                  <!-- Title -->
                  <div class="title">Notifications</div>
                </h3>
                <p>Allow notifications so when the ammo your searching for goes on sale you instanly find out!</p>
              </div>

              <!-- Text 3 -->
              <div class="features-text-left text-right">

              </div>
            </div>
          </div>

          <!-- Image -->
          <div class="col-md-4"> <img src="images/img5.png" alt="" class="wow animated zoomIn" data-wow-duration="1.2s">
          </div>

          <!-- Right text -->
          <div class="col-md-4">
            <div class="feature-mt100 wow animated fadeInRight" data-wow-duration=".6s">
              <!-- Text 4 -->
              <div class="features-text-right text-left">

              </div>

              <!-- Text 5 -->
              <div class="features-text-right text-left">
                <h3>
                  <!-- Number -->
                  <div class="number"><span class="line"></span><span class="text">2</span></div>
                  <!-- Title -->
                  <div class="title">Refine</div>
                </h3>
                <p>Refine your search results down to casing. See all manufactures and retailers in 1 click.</p>
              </div>

              <!-- Text 6 -->
              <div class="features-text-right text-left">

              </div>
            </div>
          </div>

          <div class="col-md-12 mob_new"><img src="images/ad3.jpg" alt="" /></div>
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO SECTION-->
  <section id="list">
    <div class="bg-overlay"></div>
    <div class="container">
      <!-- Section title -->
      <div class="section-text dark-title">
        <div class="contentarea">
          <h3>Search for you amoo without downloading.</span></h3>
        </div>
        <a href="#main" onClick="myfunctionclick()" class="btn hvr-bounce-to-right wow fadeIn mob_view_new"><i
            class="fa fa-search"></i> List Search</a>
      </div>
    </div>
  </section>


  <!-- CONTACT SECTION-->
  <section id="contact">
    <div class="container">
      <!-- Section title -->
      <div class="section-title">
        <h3>Contact</h3>
        <h5>Please let us know if your favorite retailer or caliber is not listed here. We are adding new retailers and
          calibers all the time so be sure to visit us again soon.</h5>
      </div>
    </div>
    <!-- Section Content -->
    <div class="container">
      <div class="col-md-4 col-xs-12">
        <ul class="contact-list">
          <li><i class="icon fa fa-envelope"></i>Contact@ammoconnect.com</li>
          <li><i class="icon fa fa-phone-square"></i>+1 407 410 4825</li>
          <li><i class="icon fa fa-map"></i>1009 Lockwood BLVD Oviedo FL, 32765</li>
        </ul>
      </div>
      <div class="col-md-8 col-xs-12 contact-form">
        <div class="row">
          <form action="#" class="contactForm">
            <div class="input-group">
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="textbox" name="name" placeholder="Name" required>
              </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="textbox" name="email" placeholder="Email" required>
              </div>
              <div class="col-sm-12 mt30 col-xs-12">
                <input type="text" class="textbox" name="message" placeholder="Message" required>
              </div>
              <div class="col-sm-12 mt30 col-xs-12"> <span class="input-group-btn">
                  <button class="btn btn-orange hvr-bounce-to-right wow fadeIn" type="submit"><i
                      class="icon fa fa-send"></i>Submit</button>
                </span> </div>
            </div>
          </form>
        </div>
      </div>
    </div>




  </section>
</div>
