<div class="container"
     style="max-width: 100%; width: 100%; background-color: #233572; margin-top: 20px; color: #333;">

    <div ng-show="ready">

        <div class="row" style="max-width: 800px; margin: auto;float:none; background: #fff; padding-bottom: 80px;">
            <div class="col-xs-12">
                <div id="logo-container">
                    <img src="img/jsaa_logo.png" alt="logo" height="80" style="margin-bottom: 10px;">
                </div>
                <form name="forms.forgotpassword">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8 form-box">
                        <div class="col-xs-12">
                            <p>What is your email address?</p>
                            <md-input-container>
                                <input my-enter="sendPassword()" required md-no-asterisk tabindex="1" ng-disabled="uid"
                                       next-focus
                                       ng-model="user.Login" id="userid" placeholder="">
                            </md-input-container>
                        </div>

                        <div class="col-xs-12">
                            <md-button class="md-primary md-raised"
                                       ng-click="sendPassword()"
                                       style="width: 200px; margin: auto;">Send Password
                            </md-button>
                        </div>

                    </div>
                    <div class="col-xs-2"></div>
                </form>

                <div style="clear: both; height: 40px;"></div>

                <div class="col-xs-12"
                     style="border: none; text-align: center; background: #fff;">
                    <md-button tabindex="31" class="md-primary md-raised"
                               style="width: 200px; margin: auto;" ng-click="goBack()">Back to Login
                    </md-button>
                </div>

            </div>

        </div>

    </div>

    <div class="row" ng-show="!ready">
        <div class="col-xs-12">
            Loading
        </div>
    </div>


</div>
